<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3 border-bottom">
    <h1 class="h2">Entry Approval</h1>
</div>


{{#if messages.success}}
<div class="alert alert-success" role="alert">
    {{ messages.success }}
</div>
{{/if}}

<form method="POST" action="/admin/entry/{{entry._id}}">
    <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Contest:</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{entry.contest.name}}">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Image:</label>
        <div class="col-sm-10">
            <img class="img-thumbnail" src="/uploads/{{entry.photo.name}}" alt="{{entry.photo.keyword}}" />
        </div>
    </div>

    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Gender:</label>
        <div class="col-sm-4">
            <select name="gender" class="custom-select">
                <option value="men">Men</option>
                <option value="women">Women</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Approval:</label>
        <div class="col-sm-4">
            <select name="approve" class="custom-select">
                <option value="true">Approve</option>
                <option value="false">Disapprove</option>
            </select>
        </div>
    </div>

    <hr>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-mfh-red rounded-0 float-right">Save Changes</button>
            <a href="/admin/entry" class="btn btn-default rounded-0">Back</a>
        </div>
    </div>

</form>

