<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3 border-bottom">
    <h1 class="h2">Entries</h1>
</div>

<!-- DataTables Example -->
<div class="table-responsive mb-3">
    <table class="table table-bordered table-striped table-sm" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Contest</th>
                <th>User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Contest</th>
                <th>User</th>
                <th>Action</th>
            </tr>
        </tfoot>
        <tbody>

            {{#if entries}}
                {{#each entries}}
                    <tr>
                        <th>{{this._id}}</th>
                        <td>{{this.contest.name}}</td>
                        <td>{{this.user.firstname}} {{this.user.lastname}} </td>
                        <td>
                            <a href="/admin/entry/{{this._id}}">View</a>
                        </td>
                    </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>