<footer class="user py-4 bg-mfh-gradient">
    <div class="container">
        <p class="m-0 text-white text-center">Copyright &copy; MyFamousHair 2018</p>
    </div>
    <!-- /.container -->
</footer>