<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/css/vendor/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/vendor/fontawesome-free/css/all.min.css' />
    <link rel='stylesheet' href='/css/vendor/datatables/dataTables.bootstrap4.css' />
    <link rel='stylesheet' href='/css/css/sb-admin.min.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/css/min/dropzone.min.css' />

    <title>MyFamousHair | {{title}}</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121957396-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-121957396-1');
    </script>

</head>