<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-mfh-gradient">
    
    <div class="container">
        
        {{> logo}}

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="/contest">Contest</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/vote">Vote</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/result">Result</a>
                </li>
        
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
    
            </ul>
        </div>
    </div>
</nav>