
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Core plugin JavaScript-->
    <script src="/js/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="/js/vendor/chart.js/Chart.min.js"></script>
    <script src="/js/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/js/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/js/sb-admin.min.js"></script>
    <script src="/js/min/dropzone.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/javascripts/app.js"></script>

    </body>
</html>