<header>
    <div id="mfhSlider" class="carousel slide" data-ride="carousel">

        <div class="caption text-center">
            <div style="position: relative;">
                <h1 class="font-weight-bold"> Photo Hair Contest </h1>
                <a href="/auth/login" class="btn btn-lg btn-mfh-red mt-3">Join Now</a>
            </div>
        </div>

        <div class="carousel-inner">

            <div class="carousel-item active">
                <img class="d-block w-100" src="/images/female6.jpg" alt="">
            </div>
            {{#each images}}
            <div class="carousel-item">
                <img class="d-block w-100" src="{{this.url}}" alt="">
            </div>
            {{/each}}
        </div>

        <a class="carousel-control-prev" href="#mfhSlider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#mfhSlider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</header>