<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-mfh-gradient">
    
    {{> logo}}

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
                <a href="/user/home" class="nav-link">Home</a>
            </li>

            <li class="nav-item">
                <a href="/contest" class="nav-link">Contest</a>
            </li>

            <li class="nav-item">
                <a href="/vote" class="nav-link">Vote</a>
            </li>

            <li class="nav-item">
                <a href="/vote" class="nav-link">Result</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   {{#if user.avatar}}
                        <img src="/uploads/{{user.avatar}}" width="25" height="25" class="rounded-circle" />
                    {{else}}
                        <img src="/images/profile.png" width="25" height="25" class="rounded-circle" />
                    {{/if}}  
                </a>

                <div class="dropdown-menu dropdown-menu-right rounded-0">
                    <a class="dropdown-item" href="/user/profile">
                        <div class="row" style="display: flex; align-items: center; justify-content:center; flex-direction: column; padding: 1em;">
                            {{#if user.avatar}}
                                <img src="/uploads/{{user.avatar}}" width="50" height="50" class="rounded-circle" />
                            {{else}}
                                <img src="/images/profile.png" width="50" height="50" class="rounded-circle" />
                            {{/if}}
                            
                            {{#if user.company}}
                                <div>
                                    {{user.company}}
                                </div>
                            {{else}}
                                <div>
                                    <p class="lead">{{user.firstname}} {{user.lastname}}</p>
                                </div>
                            {{/if}}

                            <div>
                                <span class="text-muted">{{user.email}}</span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Account Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/user/logout">Log out</a>
                </div>
            </li>
        
        </ul>
    </div>
</nav>