{{> head }}

<body id="page-top">

    {{> adminNav}}

    <div class="admin" id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/admin/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/contest">
                    <i class="fas fa-fw fa-calendar-alt"></i>
                    <span>Contest</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/entry">
                    <i class="fas fa-fw fa-calendar-alt"></i>
                    <span>Entries</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/admin/users">
                    <i class="fas fa-fw fa-user-alt"></i>
                    <span>Users</span>
                </a>
            </li>
        </ul>
        
        <div id="content-wrapper">
        
            <div class="container-fluid">
        
                {{{body}}}
        
            </div>
            <!-- /.container-fluid -->
        
            <!-- Sticky Footer -->
            <footer class="sticky-footer bg-mfh-gradient">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span class="text-white">Copyright © Myfamoushair 2018</span>
                    </div>
                </div>
            </footer>
        
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->


    {{> scripts }}