{{> head }}

<body id="page-top" class="user" style="padding-top: 85px">

  {{#if isLoggedIn}}
    {{> userNav }}
  {{else}}
    {{> navbar}}
  {{/if}}

  {{{body}}}

  {{> footer}}

  {{> scripts}}

