{{> head }}

<body id="page-top" class="bg-light user" style="padding-top: 85px">

    {{> userNav }}
    
    <div class="user" id="wrapper">

        <!-- Sidebar -->
            <ul class="sidebar navbar-nav bg-light">
                <li class="nav-item">
                    <a href="/user/profile" class="nav-link">
                        {{#if user.avatar}}
                            <img src="/uploads/{{user.avatar}}" width="25" height="25" class="rounded-circle" />
                        {{else}}
                            <img src="/images/profile.png" width="25" height="25" class="rounded-circle" />
                        {{/if}}
                        {{#if user.company}}
                            {{user.company}}
                        {{else}}
                            {{ user.firstname }} {{ user.lastname }}
                        {{/if}}
                    </a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link" href="/user/gallery">
                        <i class="fas fa-images"></i>
                        <span>Gallery</span>
                    </a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">
                        <i class="fas fa-fw fa-sign-out-alt"></i>
                        <span>Log Out</span></a>
                </li>
            </ul>
        
        
        <div id="content-wrapper">
            <div class="container-fluid">
                {{{body}}}
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    {{> footer}}

    {{> scripts }}