<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3 border-bottom">
    <h1 class="h2">Create Contest</h1>
</div>

{{#if validation_error}}
    {{#each validation_error}}
        <div class="alert alert-danger" role="alert">
            {{ this.msg }}
        </div>
    {{/each}}
{{/if}}

{{#if messages.error}}
    <div class="alert alert-danger" role="alert">
        {{ messages.error }}
    </div>
{{/if}}

{{#if messages.success}}
    <div class="alert alert-success" role="alert">
        {{ messages.success }}
    </div>
{{/if}}


<form method="POST" action="/admin/contest/create">
    <div class="form-group row">
        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="inputName" placeholder="Enter contest name" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputDesc" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="description" rows="5" id="inputDesc" placeholder="Enter description" required></textarea>
        </div>
    </div>
    
    <div class="form-group row">
        <label for="inputFrom" class="col-sm-2 col-form-label">From</label>
        <div class="col-sm-3">
            <input type="date" name="from_date" class="form-control" id="inputFrom" placeholder="Enter date" required />
        </div>
    </div>

    <div class="form-group row">
        <label for="inputTo" class="col-sm-2 col-form-label">To</label>
        <div class="col-sm-3">
            <input type="date" name="to_date" class="form-control" id="inputTo" placeholder="Enter date" required />
        </div>
    </div>

    <hr>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-mfh-red rounded-0 float-right">Save</button>
            <a href="/admin/contest" class="btn btn-default rounded-0">Back</a>
        </div>
    </div>

   
</form>