<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-3 border-bottom">
    <h1 class="h2">Contest</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="/admin/contest/create" class="btn btn-outline-mfh-red rounded-0">Create New</a>
    </div>
</div>

<!-- DataTables Example -->
<div class="table-responsive mb-3">
    <table class="table table-bordered table-striped table-sm" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>From</th>
                <th>To</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>From</th>
                <th>To</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot>
        <tbody>

            {{#if contests}}
                {{#each contests}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.from_date}}</td>
                        <td>{{this.to_date}}</td>
                        <td>{{this.status}}</td>
                        <td>
                            <a href="/admin/contest/edit/{{this.id}}" class="editor_edit">Edit</a> / 
                            <a href="#" data-id={{this.id}} class="editor_remove">Delete</a>
                        </td>
                    </tr>
                {{/each}}
            {{/if}}
        </tbody>
    </table>
</div>