<section class="bg-mfh-gradient py-5">
    <div class="container">
        <h2 class="text-uppercase text-white">Contact Us</h2>
    </div>
</section>

<section class="mt-3">
    <div class="container">

        <div class="row pb-5">
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 border-right">
                <p class="lead">We like to hear from you!</p>
                <p class="lead">We always welcome feedback and comments on the contents, competition, and website from the community members.</p>
                <p class="lead">Got questions or suggestions? Send us a message and we’ll respond as soon as possible.</p>
            </div>

            <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                <h3>Contact Form</h3>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName">Name</label>
                            <input type="text" class="form-control rounded-0" id="inputName" placeholder="Please enter your name" required/>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control rounded-0" id="inputEmail" placeholder="Please enter your email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputMessage">Message</label>
                         <textarea id="inputMessage" name="message" class="form-control rounded-0" placeholder="Please leave a message" rows="4" required="required"></textarea>
                    </div>
                    
                    <button type="submit" class="btn btn-mfh-red rounded-0">Send Message</button>
                </form>
            </div>
        </div>
        
    </div>
</section>