<section class="bg-mfh-gradient py-5">
    <div class="container">
        <h2 class="text-uppercase text-white">Contest</h2>
    </div>
</section>

<section class="mt-2 pb-5">
    <div class="container">
        {{#each contests}}
        <div class="row border-bottom">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card border-0">
                    <div class="card-body pl-0 pr-0">
                        <h2 class="card-title">{{this.name}}</h2>
                        <p class="card-text">{{this.description}}</p>
                        <p><small class="text-muted">Submission of entry will be on {{this.from_date }} - {{this.to_date}} </small></p>
                        <a href="contest/{{this.id}}" class="btn btn-mfh-red">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>
