<div class="container">
    <div class="card card-login mx-auto mt-5 rounded-0">
        <div class="card-header">Forgot Password?
            <a href="/" class="close" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>

        <div class="card-body">

            <form name="form" class="form" action="/auth/forgot_password" method="POST">

                {{#if error_message}}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
                {{/if}}

                <div class="form-group">
                    
                    <label> Please enter your email address and we will send you a reset link.</label>
                    <div class="form-label-group">
                        <input type="email" id="inputEmail" name="email" class="form-control rounded-0" placeholder="Your email"
                            required="required" autofocus="autofocus" value="{{form.email}}">
                        <label for="inputEmail">Email address</label>
                        {{#if errors.email }}
                        <small class="form-text text-danger">{{ errors.email.msg }}</small>
                        {{/if}}

                    </div>
                </div>

                
                <button type="submit" class="btn btn-primary btn-block rounded-0">Send</button>

            </form>
        </div>

    </div>

</div>