{{> slider }}


<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h2 class="text-uppercase text-center">MyFamousHair</h2>
        <p class="lead text-center">is designed to provide an opportunity for both aspiring and professional hairdressers to showcase their
        craft. It is also created as a one-stop shop for news and events happening in the hairdressing industry and information
        on the latest trends, products and services.</p>
    </div>
</section>

