<div class="container">

    <div class="card mt-5 mx-auto rounded-0">
        <div class="card-header">Register
            <a href="/" class="close" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>

        <div class="card-body">

            <form class="form cf" id="regForm">
                <div class="wizard">
                    <div class="wizard-inner">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="nav-item">
                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1"
                                    class="nav-link active">
                                    <span class="round-tab">

                                    </span>
                                </a>
                            </li>
                            <li role="presentation" class="nav-item">
                                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2"
                                    class="nav-link disabled">
                                    <span class="round-tab">

                                    </span>
                                </a>
                            </li>
                            <li role="presentation" class="nav-item">
                                <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3"
                                    class="nav-link disabled">
                                    <span class="round-tab">

                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="tab-content">

                        <div class="tab-pane active text-center" role="tabpanel" id="step1">

                            <div class="row">
                                <div class="col-lg-6 col-md-6">

                                    <i style="font-size: 7rem; color: #70080f" class="fas fa-user-tie"></i>

                                    <div class="custom-control custom-radio mt-2">
                                        <input type="radio" id="accountTypeBusiness" name="accountType" value="business"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="accountTypeBusiness">Business</label>
                                    </div>

                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <i style="font-size: 7rem; color: #70080f" class="fas fa-user"></i>
                                    <div class="custom-control custom-radio mt-2">
                                        <input type="radio" id="accountTypeIndividual" name="accountType" value="individual"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="accountTypeIndividual">Individual</label>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-lg btn-common next-step next-button btn-mfh-red rounded-0">Next</button>
                        </div>


                        <div class="tab-pane text-center" role="tabpanel" id="step2">

                            <div class="row">
                                <div class="col-lg-6 col-md-6">

                                    <i style="font-size: 7rem; color: #70080f" class="fas fa-user-tie"></i>

                                    <div class="custom-control custom-radio mt-2">
                                        <input type="radio" id="occupationHairdresser" name="occupation" value="hair_dresser"
                                            class="custom-control-input">
                                        <label class="custom-control-label" for="occupationHairdresser">Hair Dresser</label>
                                    </div>

                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <i style="font-size: 7rem; color: #70080f" class="fas fa-users"></i>
                                    <div class="custom-control custom-radio mt-2">
                                        <input type="radio" id="occupatioModel" name="occupation" value="model" class="custom-control-input">
                                        <label class="custom-control-label" for="occupatioModel">Model</label>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-lg btn-common next-step next-button btn-mfh-red rounded-0">Next</button>
                        </div>

                        <div class="tab-pane" role="tabpanel" id="step3">

                            <div id="notification"></div>

                            <div class="row">

                                <div class="col-lg-8 col-md-8 mx-auto">
                                    <div class="form-group row">
                                        <label for="inputFirstname" class="col-sm-3 col-form-label">First Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control rounded-0" name="firstname" id="inputFirstname"
                                                placeholder="Your First Name">
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="inputLastname" class="col-sm-3 col-form-label">Last Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control rounded-0" name="lastname" id="inputLastname"
                                                placeholder="Your Last Name">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputEmail" class="col-sm-3 col-form-label">Email Address</label>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control rounded-0" name="email" id="inputEmail"
                                                placeholder="Your Email">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputLastname" class="col-sm-3 col-form-label">Password</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control rounded-0" name="password" id="inputPassword"
                                                placeholder="Your Password">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputGender" class="col-sm-3 col-form-label">Gender</label>
                                        <div class="col-sm-9">
                                            <select class="custom-select rounded-0" name="gender">
                                                <option value="men">Men</option>
                                                <option value="women">Women</option>
                                            </select>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-lg btn-common next-step next-button btn-mfh-red rounded-0">Submit</button>

                                </div>
                            </div>

                        </div>

                        <div class="clearfix"></div>
                    </div>

                </div>
            </form>

        </div>

    </div>


</div>