<div class="container">

    <div class="text-center mt-3 pb-2">
        <img class="image-fluid" src="/images/biglogo.png" height="80" />
    </div>

    <div class="card card-login mx-auto rounded-0">
        <div class="card-header">Register
            <a href="/" class="close" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>

        <div class="card-body">

            <div id="notification"></div>

            <div class="row">
            
                <p class="mx-auto mb-3 lead">Step 1: Choose Account Type</p>
            
                <div class="col-lg-6 col-md-6 text-center">
                    <i style="font-size: 7rem; color: #70080f" class="fas fa-user-tie"></i>
                    <div class="custom-control custom-radio mt-2">
                        <input type="radio" id="accountTypeBusiness" name="accountType" value="business" class="custom-control-input">
                        <label class="custom-control-label" for="accountTypeBusiness">Business</label>
                    </div>
                </div>
            
                <div class="col-lg-6 col-md-6 text-center">
                    <i style="font-size: 7rem; color: #70080f" class="fas fa-user"></i>
                    <div class="custom-control custom-radio mt-2">
                        <input type="radio" id="accountTypeIndividual" name="accountType" value="individual" class="custom-control-input">
                        <label class="custom-control-label" for="accountTypeIndividual">Individual</label>
                    </div>
                </div>
            
            </div>

            <div class="row" id="individualStep2" style="display: none">
                
                <div class="col-12">
                    <p class="mx-auto mb-3 mt-3 lead">Step 2: Complete your Information</p>

                    <form id="individualRegForm">
                        
                        <div class="form-group">
                            <label for="inputfirstname">First Name</label>
                            <input type="text" id="inputfirstname" name="firstname" class="form-control rounded-0" placeholder="Your Firstname" required>
                        </div>
                    
                    
                        <div class="form-group">
                            <label for="inputlastname">Last Name</label>
                            <input type="text" id="inputlastname" name="lastname" class="form-control rounded-0" placeholder="Your Lastname" required>
                        </div>

                        <div class="form-group">
                            <label for="inputUsername">Username</label>
                            <input type="teext" id="inputUsername" name="username" class="form-control rounded-0" placeholder="Your Username" required>
                        </div>
                    
                        <div class="form-group">
                            <label for="inputEmail">Email Address</label>
                            <input type="email" id="inputEmail" name="email" class="form-control rounded-0" placeholder="Your email" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" id="inputPassword" name="password" class="form-control rounded-0" placeholder="Password" required />
                        </div>
                          
                        <div class="form-group">
                            <label for="inputGender">Gender</label>
                            <select class="custom-select rounded-0" id="inputGender" name="gender" required>
                                <option value="" selected disabled hidden>Select Gender</option>
                                <option value="men">Men</option>
                                <option value="women">Women</option>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label for="inputOccupation">Occupation</label>
                            <select class="custom-select rounded-0" id="inputOccupation" name="occupation" required>
                                <option value="" selected disabled hidden>Select Occupation</option>
                                <option value="hair_dresser">Hair Dresser</option>
                                <option value="model">Model</option>
                            </select>
                        </div>

                        <input type="hidden" name="accountType" value="individual" />        
                        <button type="submit" class="btn btn-mfh-red btn-block rounded-0">Submit</button>
                    </form>
                </div>
            </div>

            
            <div class="row" id="businessStep2" style="display: none">
                
                <div class="col-12">
                    <p class="mx-auto mb-3 mt-3 lead">Step 2: Complete your Information</p>

                    <form id="businessRegForm">
                        
                        <div class="form-group">
                            <label for="inputCompany">Company Name</label>
                            <input type="text" id="inputCompany" name="company" class="form-control rounded-0" placeholder="Your Company Name" required>
                        </div>

                        <div class="form-group">
                            <label for="inputUsername">Username</label>
                            <input type="teext" id="inputUsername" name="username" class="form-control rounded-0" placeholder="Your Username" required>
                        </div>
                    
                        <div class="form-group">
                            <label for="inputEmail">Email Address</label>
                            <input type="email" id="inputEmail" name="email" class="form-control rounded-0" placeholder="Your email" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            <input type="password" id="inputPassword" name="password" class="form-control rounded-0" placeholder="Password" required />
                        </div>
                        
                        <input type="hidden" name="accountType" value="business" />        
                        <button type="submit" class="btn btn-mfh-red btn-block rounded-0">Submit</button>
                    </form>
                </div>
            </div>

            <div class="text-center mt-3">
                <div>Already have an account? <a href="/auth/login">Log In </a> </div>
            </div>

        </div>

    </div>

</div>