<div class="container">
    
    <div class="text-center mt-3 pb-2">
        <img class="image-fluid" src="/images/biglogo.png" height="80"/>
    </div>

    <div class="card card-login mx-auto rounded-0">
        <div class="card-header">Register
            <a href="/" class="close" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
        </div>

        <div class="card-body">
            <form name="form" class="form" action="/auth/register" method="POST">
            
                {{#if validation_error}}
                    {{#each validation_error}}
                    <div class="alert alert-danger" role="alert">
                        {{ this.msg }}
                    </div>
                    {{/each}}
                {{/if}}

                {{#if error}}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {{/if}}

                {{#if messages.success}}
                    <div class="alert alert-success" role="alert">
                        {{ messages.success }}
                    </div>
                {{/if}}

                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" id="inputfirstname" name="firstname" class="form-control rounded-0" placeholder="Your Firstname"
                            required="required" autofocus="autofocus" value="{{form.firstname}}">
                        <label for="inputfirstname">First Name</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-label-group">
                        <input type="text" id="inputlastname" name="lastname" class="form-control rounded-0" placeholder="Your Lastname"
                            required="required" autofocus="autofocus" value="{{form.lastname}}">
                        <label for="inputlastname">Last Name</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-label-group">
                        <input type="email" id="inputEmail" name="email" class="form-control rounded-0" placeholder="Your email"
                            required="required" autofocus="autofocus" value="{{form.email}}">
                        <label for="inputEmail">Email Address</label>
                    </div> 
                </div>

                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" id="inputPassword" name="password" class="form-control rounded-0" placeholder="Password"
                            required="required" value="{{form.password}}">
                        <label for="inputPassword">Password</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-mfh-red btn-block rounded-0">Submit</button>

            </form>

            <div class="text-center mt-3">
                <div>Already have an account? <a href="/auth/login">Log In </a> </div>
            </div>

        </div>

    </div>

</div>