<section class="bg-mfh-gradient py-5">
    <div class="container">
        <h2 class="text-uppercase text-white">Vote Results</h2>
    </div>
</section>

<section class="mt-2 pb-4">
  
    <div class="container text-center">

        <div class="row">
        
        <div class="col">
            <h1 class="mb-4">Top 5 Men</h1>
            
            {{#each menWinners }}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img class="img-thumbnail" src="/uploads/{{this.image}}"  alt="">

                    <p class="lead">Ratings: {{ this.percentage}}</p>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="col">
            <h1 class="mb-4">Top 5 Women</h1>
            
            {{#each womenWinners }}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img class="img-thumbnail" src="/uploads/{{this.image}}" alt="">
            
                    <p class="lead">Ratings: {{ this.percentage}}</p>
                </div>
            </div>
            {{/each}}
        </div>

        </div>

    </div>
  
</section>