<section class="mt-3">
    <div class="container">
        <h2 class="text-uppercase">{{contest.name}}</h2>
        <p class="lead">{{contest.description}}</p>
        <p><small class="text-muted">Submission of entry will be on {{contest.from_date }} - {{contest.to_date}} </small></p>

        <a href="/user/gallery/{{contest._id}}" class="btn btn-mfh-red"> Submit Entry</a>
    </div>

</section>


