<section>
    <div class="cotainer p-5">
        <form action="/upload" id="myDropzone" class="dropzone" method="post" enctype="multipart/form-data">
            
            <div class="dz-message"> <h4>Drop files here or click to upload.</h4>
                <br><span class="note"><i class="fas fa-cloud-upload-alt" style="font-size: 5rem; color: #E8E8E8"></i></span>
            
            </div>

            <input type="text" name="title" />
            <input type="text" name="content" />
            <input type="text" name="firstname"  />
            <input type="date" name="date_created" />
        </form>
    </div>
</section>