<section class="bg-mfh-gradient py-5">
    <div class="container">
        <h2 class="text-uppercase text-white">Vote Now</h2>
    </div>
</section>

<section class="pb-4">   
    <div class="container-fluid"> 
        <div id="itemContainer" class="row">
            {{#each entries}}
                <div class="resultImage col-sm-4 p-1">
                    <a href="/user/vote/{{this._id}}" class="d-block h-100">
                        <img class="img-fluid" src="/uploads/{{this.photo.name}}" alt="{{this.photo.keyword}}" />
                    </a>

                    <a href="/user/vote/{{this._id}}"><i class="fas fa-heart"></i></a>
                </div>
            {{/each}}
        </div>
    </div>
</section>