<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="card">
            <div class="card-header"> <i class="fas fa-cloud-upload-alt"></i> Change Cover </div>

            <div class="card-body">
                {{#if messages.success}}
                <div class="alert alert-success" role="alert">
                    {{ messages.success }}
                </div>
                {{/if}}

                {{#if messages.errors}}
                <div class="alert alert-danger" role="alert">
                    {{ messages.errors }}
                </div>
                {{/if}}

                <div class="container text-center">

                    <div class="row mt-5 justify-content-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <form action="/user/change_cover" method="post" enctype="multipart/form-data">

                                <div class="custom-file">
                                    <input type="file" name="cover" class="custom-file-input" required />
                                    <label class="custom-file-label" for="customFile">Choose file</label>
                                </div>

                                <button type="submit" class="btn btn-primary rounded-0 mt-3">Upload</button>
                            </form>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

    </div>

</div>