<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="card">
            <div class="card-header"> <i class="fas fa-cloud-upload-alt"></i> Submit Entry </div>

            <div class="card-body">
                
                <div id="notification"></div>

                <form id="submitEntry" class="dropzone" class="dropzone" method="post" enctype="multipart/form-data">
                    
                    <input type="hidden" name="id" id="id" value="{{id}}" />
                
                    <div class="dz-message py-4">
                        <h4>Drop files here or click to upload.</h4>
                        <br><span class="note"><i class="fas fa-cloud-upload-alt" style="font-size: 5rem; color: #E8E8E8"></i></span>
                    </div>
                    
                </form>

                <a href="/user/gallery" class="btn btn-default rounded-0">Back</a>
                <button id="submitButton" type="button" class="btn btn-mfh-red rounded-0 float-right">Submit</button>
            </div>
        </div>
    </div>


    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

    </div>

</div>