<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
    <div class="card rounded-0">
        <div class="card-header"> Dashboard </div>
    
        <div class="card-body">
    
        </div>
    </div>
  </div>  


    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

    </div>

</div>
