<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="card rounded-0">
            <div class="card-header"> <i class="fas fa-images"></i> Photos
                <button type="button" data-toggle="modal" data-target="#photosModal" class="btn btn-outline-secondary btn-sm float-sm-right rounded-0">
                <i class="fas fa-plus"></i> Add Photos</button>
            </div>

            <div class="card-body pt-1">
                <div id="itemContainer" class="row">
                    {{#each photos}}
                    <div class="resultImage col-sm-4 p-1">
                        <a href="#" class="d-block h-100">
                            <img class="img-fluid" src="/uploads/{{this.name}}" alt="{{this.keyword}}" />
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="photosModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Upload Photos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/user/upload" id="myDropzone" class="dropzone" method="post" enctype="multipart/form-data">

                    <div class="dz-message">
                        <h4>Drop files here or click to upload.</h4>
                        <br><span class="note"><i class="fas fa-cloud-upload-alt" style="font-size: 5rem; color: #E8E8E8"></i></span>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>