<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="profile card rounded-0">

            <div class="card-body">
                <div class="row">
                    <div class="avatar col-lg-3 col-lg-3 col-sm-6 col-xs-12">

                        {{#if user.avatar}}
                            <img src="/uploads/{{user.avatar}}" class="rounded-circle" />
                        {{else}}
                            <img src="/images/profile.png" class="rounded-circle" />
                        {{/if}}

                        <div class="overlay">
                            <a href="#" data-toggle="modal" data-target="#changeProfileModal" class="icon">
                                <i class="fa fa-camera"></i>
                            </a>
                        </div>
                    </div>

                    <div class="profile-text col-lg-9 col-lg-9 col-sm-6 col-xs-12 mt-3">

                        {{#if user.company}}
                            <h2>{{user.company}}</h2>
                        {{else}}
                            <h2>{{user.firstname}} {{user.lastname}}</h2>
                        {{/if}}
                        <span></span>
                        <span class="text-secondary"></span>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="profile card rounded-0">

            <div class="card-body">

                {{#if messages.success}}
                    <div class="alert alert-success" role="alert">
                        {{ messages.success }}
                    </div>
                {{/if}}

                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-about" role="tab" aria-controls="pills-about"
                            aria-selected="true">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-photos" role="tab" aria-controls="pills-photos"
                            aria-selected="false">Photos</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                        Name
                                    </div>

                                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                        <div class="row">
                                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                                <b>{{user.firstname}} {{user.middlename}} {{user.lastname}}</b>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                <button type="button" data-toggle="collapse" data-target="#collapseName"
                                                    aria-expanded="false" aria-controls="collapseName" class="btn btn-sm btn-link py-0 my-0 text-muted">Edit</button>
                                            </div>
                                        </div>

                                        <div class="collapse" id="collapseName">

                                            <form class="mt-3" method="post" action="/user/profile">
                                                <div class="form-group row">
                                                    <label for="firstname" class="col-sm-3 col-form-label col-form-label-sm">First
                                                        Name</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="firstname" class="form-control form-control-sm"
                                                            id="firstname" value="{{user.firstname}}" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="middlename" class="col-sm-3 col-form-label col-form-label-sm">Middle
                                                        Name</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="middlename" class="form-control form-control-sm"
                                                            id="middlename" value="{{user.middlename}}">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="lastname" class="col-sm-3 col-form-label col-form-label-sm">
                                                        Last Name</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="lastname" class="form-control form-control-sm"
                                                            id="lastname" value="{{user.lastname}}" required>
                                                    </div>
                                                </div>

                                                <button type="submit" class="btn btn-mfh-red btn-sm rounded-0">Save
                                                    Changes</button>
                                                <button type="button" data-toggle="collapse" data-target="#collapseName"
                                                    aria-expanded="false" aria-controls="collapseName" class="btn btn-default btn-sm rounded-0">Cancel</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                        Email
                                    </div>

                                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6">
                                        <div class="row">
                                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                                <b>{{user.email}}</b>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                                <button type="button" data-toggle="collapse" data-target="#collapseEmail"
                                                    aria-expanded="false" aria-controls="collapseEmail" class="btn btn-sm btn-link py-0 my-0 text-muted">Edit</button>
                                            </div>
                                        </div>

                                        <div class="collapse" id="collapseEmail">

                                            <form class="mt-3" method="post" action="/user/profile">
                                                <div class="form-group row">
                                                    <label for="email" class="col-sm-3 col-form-label col-form-label-sm">Email</label>
                                                    <div class="col-sm-9">
                                                        <input type="email" name="email" class="form-control form-control-sm"
                                                            id="email" value="{{user.email}}" required>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-mfh-red btn-sm rounded-0">Save
                                                    Changes</button>
                                                <button type="button" data-toggle="collapse" data-target="#collapseEmail"
                                                    aria-expanded="false" aria-controls="collapseName" class="btn btn-default btn-sm rounded-0">Cancel</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-pane fade" id="pills-photos" role="tabpanel" aria-labelledby="pills-photos-tab">
                        <div class="card rounded-0 border-0">
                        
                            <a href="/user/gallery" class="ml-auto mt-2"><i class="fas fa-plus"></i>
                                Add Photos</a>
                        
                            <div class="card-body pt-1">
                                <div class="row">
                                    {{#each photos}}
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 p-1">
                                            <a href="#" class="d-block mb-1 h-100">
                                                <img class="img-fluid" src="/uploads/{{this.name}}" alt="{{this.keyword}}" />
                                            </a>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>