<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="card">
            <div class="card-header"> <i class="fas fa-cloud-upload-alt"></i> Upload </div>

            <div class="card-body">
                {{#if messages.success_message}}
                <div class="alert alert-success" role="alert">
                    {{ messages.success_message }}
                </div>
                {{/if}}
                
                <div class="container">

                    <div class="row mt-2">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <form action="/user/upload" id="myAwesomeDropzone" class="dropzone" method="post" enctype="multipart/form-data">
                                <div class="dz-message">
                                    <h4>Drop files here or click to upload.</h4>
                                    <br><span class="note"><i class="fas fa-cloud-upload-alt" style="font-size: 5rem; color: #E8E8E8"></i></span>
                                
                                </div>
                            </form>
                            
                            <a href="/user/photos" class="btn btn-outline-primary rounded-0 mt-3">Back</a>
                            
                        </div>
                    
                    </div>
                </div>
                
            </div>
        </div>
    </div>


    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

    </div>

</div>