<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="card">
            <div class="card-header"> Vote Now </div>

            <div class="card-body">
                
                {{#if messages.success}}
                <div class="alert alert-success" role="alert">
                    {{ messages.success }}
                </div>
                {{/if}}

                <form method="POST" action="/user/vote/{{entry._id}}">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Contest:</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" value="{{entry.contest.name}}" />
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Image:</label>
                        <div class="col-sm-10">
                            <img class="img-thumbnail" src="/uploads/{{entry.photo.name}}" alt="{{entry.photo.keyword}}" />
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Rating:</label>
                        <div class="col-sm-4">
                            <select name="star" class="custom-select">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                
                    <hr>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-mfh-red rounded-0 float-right">Submit</button>
                            <a href="/vote" class="btn btn-default rounded-0">Back</a>
                        </div>
                    </div>
                
                </form>

            </div>
        </div>
    </div>


    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">

    </div>

</div>