$mfh-color: #DB111E;
$mfh-secondary-color: #70080f;
$mfh-blue-color: #0E3570;

$theme-colors: ("mfh-red": $mfh-color, "mfh-blue": $mfh-blue-color);


@import "node_modules/bootstrap/scss/bootstrap";

html {
    position: relative;
    min-height: 100%;
}


body.user{
    
    margin-bottom: 60px;
}

.card-slider {
    max-width: 50rem;
}

.user .sidebar {
    margin-top: 1rem;
}

.user .sidebar .nav-item .nav-link {
    color: #000 !important;
    border-bottom: 1px solid #dfe0e1;
    line-height: 0;
}

.user .sidebar .nav-item.active {
    background-color: #dfe0e1;
}

 
/*Profile */

.profile .profile-text span {
    display: block;
}

.profile .avatar img {
    border: 5px solid #ecedeb;
    width: 10em;
    height: 10em
}

.profile .avatar .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    transition: .3s ease;
    opacity: 0.6;
}

.profile .avatar:hover .overlay {
    display: block;
}

.profile .overlay .icon {
    color: #333;
    font-size: 2rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.dropzone {
    //border: 2px dashed #0087F7 !important;
    border: none !important;
    border-radius: 5px !important;
    background: #fff !important;
}

.resultImage {
    position: relative;
}

.resultImage i{
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: $mfh-color;
    font-size: 2em;
    opacity: 0.6;
}

.resultImage a:hover i {
    opacity: 1;
}


.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer.user {
    position: absolute;
    bottom: 0;
    width: 100%;
    //background: $mfh-blue-color;

}

.bg-mfh-gradient{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00082c+0,01092e+4,010a31+4,000a2e+4,000930+6,030b32+9,060b33+9,080b34+9,0c0b33+11,100e36+13,180d37+16,1c0f3a+17,1c0f3a+18,1d0e37+18,1f1039+18,1f1039+20,21103c+20,22103a+22,24123c+22,27103c+25,29123e+25,28113d+26,2d1340+28,30133f+32,32163f+32,341541+33,361540+35,381742+35,401945+41,451a45+45,461942+45,4a1b45+48,541c43+56,5f1c3d+68,5f1c3d+68,5e1b3a+68,611c39+72,5e1c37+72,651c39+72,621c38+73,651c37+75,631b33+76,661b32+79,691b33+79,671931+80,6a192c+83,6a182e+84,6a192c+85,68172a+85,6c172c+85,6b1629+85,6c172a+86,6a1528+87,6d1627+87,6b1425+88,6e1322+90,6c121e+91,6d0f1d+92,70101c+93,6e0d18+95,710d19+95,700b13+98,720a13+99,70080f+100 */
    background: #00082c;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #00082c 0%, #01092e 4%, #010a31 4%, #000a2e 4%, #000930 6%, #030b32 9%, #060b33 9%, #080b34 9%, #0c0b33 11%, #100e36 13%, #180d37 16%, #1c0f3a 17%, #1c0f3a 18%, #1d0e37 18%, #1f1039 18%, #1f1039 20%, #21103c 20%, #22103a 22%, #24123c 22%, #27103c 25%, #29123e 25%, #28113d 26%, #2d1340 28%, #30133f 32%, #32163f 32%, #341541 33%, #361540 35%, #381742 35%, #401945 41%, #451a45 45%, #461942 45%, #4a1b45 48%, #541c43 56%, #5f1c3d 68%, #5f1c3d 68%, #5e1b3a 68%, #611c39 72%, #5e1c37 72%, #651c39 72%, #621c38 73%, #651c37 75%, #631b33 76%, #661b32 79%, #691b33 79%, #671931 80%, #6a192c 83%, #6a182e 84%, #6a192c 85%, #68172a 85%, #6c172c 85%, #6b1629 85%, #6c172a 86%, #6a1528 87%, #6d1627 87%, #6b1425 88%, #6e1322 90%, #6c121e 91%, #6d0f1d 92%, #70101c 93%, #6e0d18 95%, #710d19 95%, #700b13 98%, #720a13 99%, #70080f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #00082c 0%, #01092e 4%, #010a31 4%, #000a2e 4%, #000930 6%, #030b32 9%, #060b33 9%, #080b34 9%, #0c0b33 11%, #100e36 13%, #180d37 16%, #1c0f3a 17%, #1c0f3a 18%, #1d0e37 18%, #1f1039 18%, #1f1039 20%, #21103c 20%, #22103a 22%, #24123c 22%, #27103c 25%, #29123e 25%, #28113d 26%, #2d1340 28%, #30133f 32%, #32163f 32%, #341541 33%, #361540 35%, #381742 35%, #401945 41%, #451a45 45%, #461942 45%, #4a1b45 48%, #541c43 56%, #5f1c3d 68%, #5f1c3d 68%, #5e1b3a 68%, #611c39 72%, #5e1c37 72%, #651c39 72%, #621c38 73%, #651c37 75%, #631b33 76%, #661b32 79%, #691b33 79%, #671931 80%, #6a192c 83%, #6a182e 84%, #6a192c 85%, #68172a 85%, #6c172c 85%, #6b1629 85%, #6c172a 86%, #6a1528 87%, #6d1627 87%, #6b1425 88%, #6e1322 90%, #6c121e 91%, #6d0f1d 92%, #70101c 93%, #6e0d18 95%, #710d19 95%, #700b13 98%, #720a13 99%, #70080f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #00082c 0%, #01092e 4%, #010a31 4%, #000a2e 4%, #000930 6%, #030b32 9%, #060b33 9%, #080b34 9%, #0c0b33 11%, #100e36 13%, #180d37 16%, #1c0f3a 17%, #1c0f3a 18%, #1d0e37 18%, #1f1039 18%, #1f1039 20%, #21103c 20%, #22103a 22%, #24123c 22%, #27103c 25%, #29123e 25%, #28113d 26%, #2d1340 28%, #30133f 32%, #32163f 32%, #341541 33%, #361540 35%, #381742 35%, #401945 41%, #451a45 45%, #461942 45%, #4a1b45 48%, #541c43 56%, #5f1c3d 68%, #5f1c3d 68%, #5e1b3a 68%, #611c39 72%, #5e1c37 72%, #651c39 72%, #621c38 73%, #651c37 75%, #631b33 76%, #661b32 79%, #691b33 79%, #671931 80%, #6a192c 83%, #6a182e 84%, #6a192c 85%, #68172a 85%, #6c172c 85%, #6b1629 85%, #6c172a 86%, #6a1528 87%, #6d1627 87%, #6b1425 88%, #6e1322 90%, #6c121e 91%, #6d0f1d 92%, #70101c 93%, #6e0d18 95%, #710d19 95%, #700b13 98%, #720a13 99%, #70080f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00082c', endColorstr='#70080f', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

#dataTable .selected {
    background-color: whitesmoke;   
}

#profileImage {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #512DA8;
    font-size: 35px;
    color: #fff;
    text-align: center;
    line-height: 150px;
    margin: 20px 0;
}

#mfhSlider {
    margin: 0;
    padding: 0;
    position: relative;
}

#mfhSlider .caption {
    
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25%;
    z-index: 100;
    
}

#mfhSlider .caption {
    color: #fff;
}

#mfhSlider .caption h1 {
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: normal;
}

#mfhSlider .caption p.lead {
    font-size: 30px;
}

//Wizards
.wizard {
    margin: 20px auto;
    //background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: transparent;
}

.wizard>div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 5px;
    background: $mfh-secondary-color;
    position: absolute;
    width: 100%;
    //margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:hover,
.wizard .nav-tabs>li.active>a:focus {
    color: $mfh-color;
    cursor: default;
    border: 0;
    //border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #e0e0e0;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tab i {
    color: #fff;
}

.wizard li a.active span.round-tab {
    background: $mfh-secondary-color;
    border: 2px solid $mfh-secondary-color;
}

.wizard li a.active span.round-tab i {
    color: $mfh-secondary-color;
}

span.round-tab:hover {
    color: #fff;
    border: 2px solid $mfh-secondary-color;
}

.wizard .nav-tabs>li {
    width: 19%;
}

.wizard li a:after {
    content: " ";
    position: relative;
    left: 46%;
    top: -20px;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    //border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active.nav-item:after {
    content: " ";
    position: relative;
    left: 46%;
    top: -20px;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: $mfh-secondary-color;
}

.wizard .nav-tabs>li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    position: relative;
}

.wizard .nav-tabs>li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media(max-width: 585px) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs>li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.nav-pills .nav-link {
    border-radius: 0 !important;
    color: #00082c !important;
}

.nav-pills {
    border-bottom: 1px solid #e7ebf3 !important;
}

.nav-pills li.active, a.nav-link.active {
    background-color: transparent !important;
    border-bottom: 1px solid $mfh-secondary-color !important;
    color: $mfh-secondary-color !important;
}

